---
import { type CollectionEntry, getCollection } from "astro:content";
import AudioCard from "@/components/AudioCard.astro";
import AudioPlayer from "@/components/AudioPlayer.astro";
import Pagination from "@/components/Pagination.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { siteConfig } from "@/site.config";
import type { GetStaticPaths, Page } from "astro";

// getStaticPaths function to paginate collection
export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const audioCollection = await getCollection("audioCollection");

  // Sort newest first
  audioCollection.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

  return paginate(audioCollection, { pageSize: siteConfig.pageSize });
};

// Props from Astro
interface Props {
  page: Page<CollectionEntry<"audioCollection">>;
}

const { page } = Astro.props;

// Cast page.data to correct type
const entries = page.data;
---

<BaseLayout
  title={siteConfig.title}
  description={siteConfig.description}
  ogImage={siteConfig.ogImage}
>
  <div class="card bg-base-100 mt-12 min-w-full p-3 pb-3 shadow-md">
    {
      entries.map((audio, index) => (
        <AudioCard
          title={audio.data.title}
          cover={audio.data.cover}
          desc={audio.data.description}
          audioUrl={audio.data.audioUrl}
          date={audio.data.date}
          duration={audio.data.duration}
          id={"card-" + index}
        />
      ))
    }
  </div>

  <Pagination page={page} />
</BaseLayout>

<AudioPlayer />
