---
import BaseLayout from "@/layouts/BaseLayout.astro";
import AudioCard from "@/components/AudioCard.astro";
import AudioPlayer from "@/components/AudioPlayer.astro";
import Pagination from "@/components/Pagination.astro";
import { getCollection } from "astro:content";
import { siteConfig } from "@/site.config";

export async function getStaticPaths({ paginate }) {
  const audioCollection = await getCollection("audio");
  audioCollection.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return paginate(audioCollection, { pageSize: siteConfig.pageSize });
}
const { page } = Astro.props;
---

<BaseLayout
  title={siteConfig.title}
  description={siteConfig.description}
  ogImage={siteConfig.ogImage}
>
  <div class="card bg-base-100 mt-12 min-w-full p-3 pb-3 shadow-md">
    {
      page.data.map((audio: any, index: number) => (
        <AudioCard
          title={audio.data.title}
          cover={audio.data.cover}
          desc={audio.data.description}
          audioUrl={audio.data.audioUrl}
          date={audio.data.date}
          duration={audio.data.duration}
          id={'card-' + index}
        />
      ))
    }
  </div>
  <Pagination page={page} />
</BaseLayout>

<AudioPlayer />
