---
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import PauseIcon from "@/components/icons/pauseIcon.astro";
import PlayIcon from "@/components/icons/playIcon.astro";

dayjs.extend(localizedFormat);

const { title, cover, desc, audioUrl, id, date, duration } = Astro.props;

const coverImage = cover || "cover-images/defaultCover.jpg";
const displayDate = dayjs(date).format("ll");

function formatTime(secs: number) {
  if (typeof secs !== "number" || Number.isNaN(secs) || secs < 0) {
    return "00:00"; // Default fallback instead of null
  }

  const hours = Math.floor(secs / 3600);
  const minutes = Math.floor((secs % 3600) / 60);
  const seconds = Math.floor(secs % 60);
  const formattedMinutes = minutes.toString().padStart(2, "0");
  const formattedSeconds = seconds.toString().padStart(2, "0");

  return hours > 0
    ? `${hours}:${formattedMinutes}:${formattedSeconds}`
    : `${formattedMinutes}:${formattedSeconds}`;
}

const displayDuration = formatTime(duration);
---

<div class="audio-card">
  <div class="hero-content flex-row">
    <img
      src={coverImage}
      alt={title}
      class="h-[4.5rem] w-[4.5rem] rounded-md object-cover shadow-lg md:h-24 md:w-24"
    />
    <div class="w-full grow overflow-auto">
      <h2 class="truncate text-sm font-semibold md:text-xl">
        {title}
      </h2>
      <p class="text-xs font-medium opacity-90">
        {displayDuration} • {displayDate}
      </p>
      <p class="my-1 line-clamp-2 text-xs md:text-sm">{desc}</p>
    </div>
    <label class="btn btn-circle swap md:mx-2">
      <input
        type="checkbox"
        class="card-pay-buttons"
        id={id}
        data-audio-url={audioUrl}
        aria-label="Play and pause"
      />
      <div class="swap-off">
        <PlayIcon />
      </div>
      <div class="swap-on">
        <PauseIcon />
      </div>
    </label>
  </div>
  <hr class="border-base-content my-3 opacity-[.15]" />
</div>

<style>
  .audio-card:last-child hr {
    display: none;
  }
</style>
